h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #691313;
    border: 1px solid #691313;
    border-radius: 16px;
    padding: 20px;
    margin: 5px;
    width: 35%;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

#schittscreek {
    border-radius: 16px;
}

#quote-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #691313;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-welcome {
    display: block;
    margin-left: 620px;
    margin-right: auto;
    width: 100%;
}

body {
    background-color: bisque;
}

