{% extends 'base.html' %}
{% block title %}Schitts Creek Quotes{% endblock %}

{% block body %}
<body>
  <br>
  <div class="center-welcome">
  <h2>
    Welcome to the Schitts Creek Quotes Generator!<br>
  </h2>
  </div>
  
  <div class="d-grid gap-2 col-6 mx-auto">
    <button id="get-quote-button" type="button" class="btn btn-outline-dark">Click here to generate a quote</button><br>
  </div>

  <img id="schittscreek" class="center" src="/static/images/schittscreek.webp" alt="Family">
  
  <br>

  <div id="quote-text"></div>

</body>

<script src="/static/quotes.js"></script>  
{% endblock %}